<div class="card">
    <div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci esse, laudantium aut 
    accusamus iure rerum explicabo voluptas corrupti porro nostrum modi placeat itaque aspernatur, 
    magni molestias repellat a minus necessitatibus perspiciatis inventore aliquid! Temporibus,
    velit? Quibusdam quidem soluta provident? Nostrum.</p>
    </div>
</div>