{{! Margen top de 4 para que este separado del contenido--}}
<div class="jumbotron mt-4">
    {{!display-4 clase de bootstrap para que se vea mas grande --}}
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    {{!lead para que luzca resaltado, texto de ejemplo lorem8 y enter --}}
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    {{!Linea divisora margin de 4--}}
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem libero in, dolore incidunt sed 
    quam modi iusto accusantium expedita sunt. Repellat animi provident voluptate consequuntur nemo harum 
    excepturi aliquid adipisci!</p>
    {{! Me redirecciòna a una pagina, para que luzca como un boton. btn-primary es azul y con btn-lg para que luzca mas grande--}}
    <a href="http://google.com" class="btn btn-primary btn-lg">Google</a>
</div>